* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(221, 221, 221);
}
.carousel-image-wrapper {
  width: 60%;
  height: 720px;
  position: relative;
  border-radius: 40px;
  margin: auto;
  overflow: hidden;
  box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.5);
}
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.dots {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(184, 184, 184);
  position: relative;
  transition: all 0.2 ease;
  cursor: pointer;
}
.carousel__dots-container {
  position: absolute;
  display: flex;
  bottom: 150px;
  gap: 10px;
}
.next {
  rotate: 180deg;
}
.next,
.prev {
  cursor: pointer;
}
.next:hover,
.prev:hover {
  transform: scale(1.18);
}
#prev {
  position: absolute;

  left: 200px;
}
#next {
  position: absolute;

  right: 200px;
}
@media screen and (max-width: 600px) {
  .carousel-image-wrapper {
    width: 90%;
    height: 60%;
  }
  #prev,
  #next {
    bottom: 20px;
    width: 50px;
    gap: 20px;
  }
}
